<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Lists">
            <directory suffix="Test.php">./tests/Lists</directory>
        </testsuite>
        <testsuite name="Queues">
            <directory suffix="Test.php">./tests/Queues</directory>
        </testsuite>
        <testsuite name="Stacks">
            <directory suffix="Test.php">./tests/Stacks</directory>
        </testsuite>
        <testsuite name="Misc">
            <directory suffix="Test.php">./tests/Internal</directory>
        </testsuite>
        <testsuite name="Grids">
            <directory suffix="Test.php">./tests/Grids</directory>
        </testsuite>
        <testsuite name="Maps">
            <directory suffix="Test.php">./tests/Maps</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
