<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Lists">
            <directory suffix="Test.php">./tests/Lists</directory>
        </testsuite>
        <testsuite name="Queues">
            <directory suffix="Test.php">./tests/Queues</directory>
        </testsuite>
        <testsuite name="Stacks">
            <directory suffix="Test.php">./tests/Stacks</directory>
        </testsuite>
        <testsuite name="Misc">
            <directory suffix="Test.php">./tests/Internal</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
